<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    

<h1>TEST SYSTEME</h1>
<ul>
    <% for(var i=0; i<newListItem.length;i++){ %>
        
        <li><h3><%=newListItem[i]%></h3></li>
        
        <%  } %>

</ul>




<form action="/" method="post">
<input type="text" name="item">
<button type="submit">Add</button>
</form>


    
</body>
</html>